! Im using UXTerm so some of the below are just in case I change in the future
! fonts

! xterm: /usr/bin/uxterm

XTerm*renderFont: true
XTerm*faceName: DejaVu Sans Mono
XTerm*faceSize: 16

UXTerm*renderFont: true
UXTerm*faceName: DejaVu Sans Mono
UXTerm*faceSize: 16

UXTerm*Background:	black
UXTerm*Foreground:	white

! alt backspace works as expected
XTerm*eightBitInput:        false
UXTerm*eightBitInput:        false

! Selected text available in standard clipboard
UXTerm*selectToClipboard: true


! Paste by ctrl-v
xterm*VT100.Translations: #override \
                 Ctrl Shift <Key>V:    insert-selection(CLIPBOARD)
